<div style="max-height: 100px;">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Template - FantacyDesigns</title>
  <link rel="stylesheet" href=""/>
  <link rel="stylesheet" href=""/>
</head>
<body>

    <footer>
      <div class="footer-wrap">
        <div class="widgetFooter">
          <h4 class="uppercase">useful links</h4>
          <ul id="footerUsefulLink">
            <li title="About US">
              <span class="usefulLinksIcons">
                <i class="far fa-id-card"></i>
              </span>
              <a target="_blank" rel="noopener" href="https://www.kaartech.com/about-kaartech/">&nbsp;About us</a>
            </li>
            <li title="Our Team">
              <span class="usefulLinksIcons">
                <i class="far fa-handshake"></i>
              </span>
              <a target="_blank" rel="noopener" href="https://www.kaartech.com/">&nbsp;kaar</a>
            </li>
            <li title="Gallery">
              <span class="usefulLinksIcons">
                <i class="far fa-images"></i>
              </span>
              <a target="_blank" rel="noopener" href="https://www.kaartech.com/">&nbsp;Gallery</a>
            </li>
            <li title="Contact Us">
              <span class="usefulLinksIcons">
                <i class="far fa-envelope"></i>
              </span>
              <a href="https://www.kaartech.com/contact-us/">&nbsp;Contact us</a>
            </li>
          </ul>
        </div>
        <div class="widgetFooter" id="footerLogo">
          <img src="assets/images/KT15-Logo.png" alt="Logo">
        </div>
        <div class="widgetFooter">
          <h4 class="uppercase">Social media links</h4>
          <ul id="footerMediaLinks">
            <li class="media1" title="Facebook">
              <span class="mediaLinksIcons fb">
                <i class="fab fa-facebook-square"></i>
              </span>
              <a class="fb" target="_blank" rel="noopener" href="https://www.facebook.com/">&nbsp;facebook</a>

            </li>
            <li class="media2" title="Twitter">
              <span class="mediaLinksIcons twit">
                <i class="fab fa-twitter-square"></i>
              </span>
              <a class="twit" target="_blank" rel="noopener" href="https://twitter.com/NAVEENK31445984">&nbsp;Twitter</a>
            </li>
            <li class="media3"  title="Instagram">
              <span class="mediaLinksIcons insta">
                <i class="fab fa-instagram"></i>
              </span>
              <a class="insta" target="_blank" rel="noopener" href="https://www.instagram.com/naveenkishan3/">&nbsp;instagram</a>
            </li>
            <li class="media4" title="Github">
              <span class="mediaLinksIcons git">
                <i class="fab fa-github-alt"></i>
              </span>
              <a class="git" target="_blank" rel="noopener" href="https://github.com/NaveenKumarS57">&nbsp;Github</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footerCopy">
        <div class="inb">
          <p>Copyrights<sup>&copy;</sup> 2022. Developed with <i class="fas fa-heart" style="color: red;"></i> by naveen & ragu</p>
        </div>
      </div>
    </footer>


</body>
</div>
